<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title>S3 on Rails</title>
<%= stylesheet_link_tag 'screen' %>
<%= javascript_include_tag 'prototype' %>
</head>
<body>

<div align="center" class="banner">
<h1>S3 on Rails</h1>
</div>

<div align="center">
<%= @content_for_layout %>
</div>
 
<p>
 
<div id="footer">
<p>
<a id="footer" href="http://aws.amazon.com/s3">Amazon S3</a> |
<a id="footer" href="http://developer.amazonwebservices.com/connect/forum.jspa?forumID=24">Amazon S3 Forum</a> |
<a id="footer" href="http://aws.typepad.com/">AWS Blog</a> |
<a id="footer" href="http://developer.amazonwebservices.com/connect/index.jspa">AWS Developer Connection</a> |
<a id="footer" href="http://www.silvasftinc.com">SilvaSoft, Inc.</a> | 
<a id="footer" href="http://jroller.com/page/silvasoftinc">SilvaSoft, Inc. weblog</a>
</p>

<p>Copyright &copy; 2006 <a id="footer" href="http://www.silvasftinc.com">SilvaSoft, Inc.</a></p>
</div>

</p>

 </body>
</html>
